[Unit]
Description=PVPGN Bots
Require=pvpgn.service
After=pvpgnserver.service

[Service]
User=root
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /home/daniel/docker/bots/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /home/daniel/docker/bots/docker-compose.yml down

[Install]
WantedBy=multi-user.target
